accelerate==1.13.0
fastapi==0.136.3
huggingface-hub==0.21.3
ipython==8.22.2
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter_client==8.6.1
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
langchain==0.1.5
langchain-community==0.0.17
langchain-core==1.4.0
langchain-protocol==0.0.15
langgraph==1.2.1
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.3.15
lckr_jupyterlab_variableinspector==3.2.1
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.0.1
PyYAML==6.0.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
tavily-python==0.7.24
torch==2.12.0
transformers==4.38.2
typing_extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
uvicorn==0.48.0
